@import "../../../assets/variables";

.container {
    border-radius: 10px;
    margin: 10px 0;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    align-content: center;
}

.clean {
    background-color: $success;
}

.banned {
    background-color: $error;
}

.warned {
    background-color: $warning;
}